<!DOCTYPE html>
    <html lang="en">
<head>
    <meta charset=="UTF-8">
    <title>NODE TEST</title>
</head>
<body>
    <h1>NODE EJS TEST PAGE : <%= name %></h1>
    <div><img src="images/tree.png"</div>
</body>
</html>